// Fonts families

	//Bodoni
	$bodoniBlackCond: "Bauer Bodoni CE Black Cond-webfont";
	$bodoniBlackItalic: "Bauer Bodoni CE Black Italic-webfont";
	$bodoniBlack: "Bauer Bodoni CE Black-webfont";
	$bodoniBoldCond: "Bauer Bodoni CE Bold Cond-webfont";
	$bodoniBoldItalic: "Bauer Bodoni CE Bold Italic-webfont";
	$bodoniBold: "Bauer Bodoni CE Bold-webfont";
	$bodoniItalic: "Bauer Bodoni CE Italic-webfont";
	$bodoniRoman: "Bauer Bodoni CE Roman-webfont";

	@include font-face-bodoni("Botoni Black Cond", $bodoniBlackCond);
	@include font-face-bodoni("Botoni Black Italic", $bodoniBlackItalic);
	@include font-face-bodoni("Botoni Black", $bodoniBlack);
	@include font-face-bodoni("Botoni Bold Cond", $bodoniBoldCond);
	@include font-face-bodoni("Botoni Bold Italic", $bodoniBoldItalic);
	@include font-face-bodoni("Botoni Bold", $bodoniBold);
	@include font-face-bodoni("Botoni Italic", $bodoniItalic);
	@include font-face-bodoni("Botoni Roman", $bodoniRoman);


	//Brandon
	$brandonBold: "Brandon_bld-webfont";
	$brandonBoldItalic: "Brandon_bld_it-webfont";
	$brandonBlack: "Brandon_blk-webfont";
	$brandonBlackItalic: "Brandon_blk_it-webfont";
	$brandonLight: "Brandon_light-webfont";
	$brandonLightItalic: "Brandon_light_it-webfont";
	$brandonMedium: "Brandon_med-webfont";
	$brandonMediumItalic: "Brandon_med_it-webfont";
	$brandonRegular: "Brandon_reg-webfont";
	$brandonRegularItalic: "Brandon_reg_it-webfont";
	$brandonThin: "Brandon_thin-webfont";
	$brandonThinItalic: "Brandon_thin_it-webfont";

	@include font-face-bodoni("Brandon Bold", $brandonBold);
	@include font-face-bodoni("Brandon Bold Italic", $brandonBoldItalic);
	@include font-face-bodoni("Brandon Black", $brandonBlack);
	@include font-face-bodoni("Brandon Black Italic", $brandonBlackItalic);
	@include font-face-bodoni("Brandon Light", $brandonLight);
	@include font-face-bodoni("Brandon Light Italic", $brandonLightItalic);
	@include font-face-bodoni("Brandon Medium", $brandonMedium);
	@include font-face-bodoni("Brandon Medium Italic", $brandonMediumItalic);
	@include font-face-bodoni("Brandon Regular", $brandonRegular);
	@include font-face-bodoni("Brandon Regular Italic", $brandonRegularItalic);
	@include font-face-bodoni("Brandon Thin", $brandonThin);
	@include font-face-bodoni("Brandon Thin Italic", $brandonThinItalic);


	//Playfair
	$playfairBlack: "PlayfairDisplay-Black-webfont";
	$playfairBold: "PlayfairDisplay-Bold-webfont";
	$playfairRegular: "PlayfairDisplay-Regular-webfont";

	@include font-face-bodoni("Botoni Black", $playfairBlack);
	@include font-face-bodoni("Botoni Bold", $playfairBold);
	@include font-face-bodoni("Botoni Regular", $playfairRegular);


