// FONTS FAMILIES

	//Bodoni
	$bodoniBlackCond: "Bauer Bodoni CE Black Cond-webfont";
	$bodoniBlackItalic: "Bauer Bodoni CE Black Italic-webfont";
	$bodoniBlack: "Bauer Bodoni CE Black-webfont";
	$bodoniBoldCond: "Bauer Bodoni CE Bold Cond-webfont";
	$bodoniBoldItalic: "Bauer Bodoni CE Bold Italic-webfont";
	$bodoniBold: "Bauer Bodoni CE Bold-webfont";
	$bodoniItalic: "Bauer Bodoni CE Italic-webfont";
	$bodoniRoman: "Bauer Bodoni CE Roman-webfont";

	@include font-face-bodoni("Bodoni Black Cond", $bodoniBlackCond);
	@include font-face-bodoni("Bodoni Black Italic", $bodoniBlackItalic);
	@include font-face-bodoni("Bodoni Black", $bodoniBlack);
	@include font-face-bodoni("Bodoni Bold Cond", $bodoniBoldCond);
	@include font-face-bodoni("Bodoni Bold Italic", $bodoniBoldItalic);
	@include font-face-bodoni("Bodoni Bold", $bodoniBold);
	@include font-face-bodoni("Bodoni Italic", $bodoniItalic);
	@include font-face-bodoni("Bodoni Roman", $bodoniRoman);

	//Brandon
	$brandonBold: "Brandon_bld-webfont";
	$brandonBoldItalic: "Brandon_bld_it-webfont";
	$brandonBlack: "Brandon_blk-webfont";
	$brandonBlackItalic: "Brandon_blk_it-webfont";
	$brandonLight: "Brandon_light-webfont";
	$brandonLightItalic: "Brandon_light_it-webfont";
	$brandonMedium: "Brandon_med-webfont";
	$brandonMediumItalic: "Brandon_med_it-webfont";
	$brandonRegular: "Brandon_reg-webfont";
	$brandonRegularItalic: "Brandon_reg_it-webfont";
	$brandonThin: "Brandon_thin-webfont";
	$brandonThinItalic: "Brandon_thin_it-webfont";

	@include font-face-brandon("Brandon Bold", $brandonBold);
	@include font-face-brandon("Brandon Bold Italic", $brandonBoldItalic);
	@include font-face-brandon("Brandon Black", $brandonBlack);
	@include font-face-brandon("Brandon Black Italic", $brandonBlackItalic);
	@include font-face-brandon("Brandon Light", $brandonLight);
	@include font-face-brandon("Brandon Light Italic", $brandonLightItalic);
	@include font-face-brandon("Brandon Medium", $brandonMedium);
	@include font-face-brandon("Brandon Medium Italic", $brandonMediumItalic);
	@include font-face-brandon("Brandon Regular", $brandonRegular);
	@include font-face-brandon("Brandon Regular Italic", $brandonRegularItalic);
	@include font-face-brandon("Brandon Thin", $brandonThin);
	@include font-face-brandon("Brandon Thin Italic", $brandonThinItalic);


	//Playfair
	$playfairBlack: "PlayfairDisplay-Black-webfont";
	$playfairBold: "PlayfairDisplay-Bold-webfont";
	$playfairRegular: "PlayfairDisplay-Regular-webfont";

	@include font-face-playfair("Playfair Black", $playfairBlack);
	@include font-face-playfair("Playfair Bold", $playfairBold);
	@include font-face-playfair("Playfair Regular", $playfairRegular);


// COLORS
$a-grey: #9B9B9B;
$a-grey-light: #D9D9D9;
$a-grey-lighter: #F5F5F5;
$a-grey-dark: #4A4A4A;

$a-black: #3D3B3A;
$a-black-dark: #222222;

$a-white: #FCFCFC;

$a-marron: #615E5D;
$a-marron-light: #878583;
$a-marron-lighter: #BEB7B4;


// IMAGES
$icons: '../images/icons';
$images: '../images';
$cases: '../images/cases';

