span.esp, span.esp.pf {
	font-family: PlayfairDisplay-Italic;
	font-size: 1em;
	color: #9B9B9B;
	letter-spacing: 0.185em;
	font-style: italic;
	margin: 0 0.2em;
	&.bold {
		font-family: "Playfair Bold";
		font-style: italic;
	}
}

.cta {
	display: inline-block;
	font-family: "Brandon Regular";
	font-size: 1.2em;
	letter-spacing: 2px;
	border: 1px solid #3D3B3A;
	width: 13em;
	text-align: center;
	a {
		color: #3D3B3A;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 3.2em;
		display: block;
		@include transition(all, 0.3s, ease-in-out);
		&:hover {
			background: #3D3B3A;
			color: #FBFBFB;
		}
	}
}
.scroll-div {
	position: relative;
	padding: 20px 0;
  	height: 30px;
	.scroll-icon {
		text-decoration: none;
		font-family: "Brandon Regular";
		font-size: 1em;
		color: #9B9B9B;
		letter-spacing: 0.166em;
		line-height: 1.5em;
		position: absolute;
		text-transform: uppercase;
		bottom: 20px;
		background: url('#{$icons}/scroll-home.svg') no-repeat bottom center;
		display: block;
		width: 100%;
		padding-bottom: 15px;
		cursor: pointer;
	}
}
