//FONTS 
	
	$folderBodoni: "../fonts/Bauer Bodoni";
	$folderBrandon: "../fonts/Brandon Grotesque";
	$folderPlayfair: "../fonts/Playfair";

	@mixin font-face-bodoni($family, $filename) {
	  @font-face {
	    font-family: $family;
	    src: url('#{$folderBodoni}/#{$filename}.eot');
	    src: url('#{$folderBodoni}/#{$filename}.eot?#iefix') format("embedded-opentype");
	    src: url('#{$folderBodoni}/#{$filename}.woff') format("woff");
	    src: url('#{$folderBodoni}/#{$filename}.ttf') format("truetype");
	    src: url('#{$folderBodoni}/#{$filename}.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
	  }
	}

	@mixin font-face-brandon($family, $filename) {
	  @font-face {
	    font-family: $family;
	    src: url('#{$folderBrandon}/#{$filename}.eot');
	    src: url('#{$folderBrandon}/#{$filename}.eot?#iefix') format("embedded-opentype");
	    src: url('#{$folderBrandon}/#{$filename}.woff') format("woff");
	    src: url('#{$folderBrandon}/#{$filename}.ttf') format("truetype");
	    src: url('#{$folderBrandon}/#{$filename}.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
	  }
	}

	@mixin font-face-playfair($family, $filename) {
	  @font-face {
	    font-family: $family;
	    src: url('#{$folderPlayfair}/#{$filename}.eot');
	    src: url('#{$folderPlayfair}/#{$filename}.eot?#iefix') format("embedded-opentype");
	    src: url('#{$folderPlayfair}/#{$filename}.woff') format("woff");
	    src: url('#{$folderPlayfair}/#{$filename}.ttf') format("truetype");
	    src: url('#{$folderPlayfair}/#{$filename}.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
	  }
	}