.section {
	text-align: center;
	.inner-container {
		height: 100%;
	}
	.footer {
		position: relative;
		height: 20%;
		.scroll-icon {
			font-family: "Brandon Regular";
			font-size: 1em;
			color: #9B9B9B;
			letter-spacing: 0.166em;
			line-height: 1.5em;
			position: absolute;
			text-transform: uppercase;
			bottom: 20px;
			background: url('#{$icons}/scroll-home.svg') no-repeat bottom center;
			display: block;
			width: 100%;
			height: 30px;
			margin: 20px 0;
			cursor: pointer;
		}
	}
}


#home.section {
	width: 100%;
	height: 100%;
	.home__header {
		height: 45%;
		.inner {
			padding: 15em 0 7em;
		}
		h2.title {
			font-family: "Brandon Regular";
			font-size: 1em;
			color: #9B9B9B;
			letter-spacing: 0.2em;
			line-height: 1.5em;
			text-transform: uppercase;
			margin-bottom: 2em;
		}
		h1.main__title {
			font-family: "Bodoni Bold";
			font-size: 4em;
			color: $a-black;
			letter-spacing: 0.1em;
			line-height: 1em;
			margin-bottom: 0.2em;
		}
		h3.subtitle {
			font-family: "Bodoni Italic";
			font-size: 2em;
			color: #9B9B9B;
			letter-spacing: 0.185em;
			line-height: 2.7em;
		}
	}
	.home__content {
		height: 35%;
		.inner {
			padding: 4em 0;
		}
		p {
			font-family: "Brandon Regular";
			font-size: 1.5em;
			color: #3D3B3A;
			letter-spacing: 0.18em;
			line-height: 2.2em;
			text-transform: uppercase;
		}
		.line {
			display: block;
			margin: 0.5em auto;
			width: 1px;
			height: 60px;
			background: $a-grey;
		}
	}
}

#works.section {
	background: #222222;
	.inner {
		padding-top: 8em;
	}
	.works__header {
		margin-bottom: 10em;
		h2.title {
			font-family: "Bodoni Bold Italic";
			font-size: 3em;
			color: #FCFCFC;
			line-height: 2.4em;
		}
		h3.subtitle {
			font-family: "Bodoni Roman";
			font-size: 1.8em;
			color: #D0D0D0;
			line-height: 1.5em;
		}
	}
	.works__content {
		#profily {
			.pj__visuel {
				background: url('#{$cases}/Profily/profily_cover.jpg') no-repeat center left;
			}
		}
		#dyskit {
			.pj__visuel {
				background: url('#{$cases}/Dyskit/dyskit_cover.jpg') no-repeat center right;
			}
		}
		#groww {
			margin-bottom: -1em;
			.pj__visuel {
				background: url('#{$cases}/groww/groww_cover.jpg') no-repeat top right;
			}
		}	
		#keynotes {
			.pj__visuel {
				background: url('#{$cases}/keynotes/keynotes_cover.jpg') no-repeat top left;
			}
		}
		.project {
			position: relative;
  			height: 322px;
			margin-bottom: 6em;
			&.left {
				.pj__visuel {
					float: left;
				}
				.pj__info {
					left: 42%;
					right: auto;
					text-align: left;
				}
				.pj__hr {
					float: left;
				}
			}
			&.right {
				.pj__visuel {
					float: right;
				}
				.pj__info {
					right: 42%;
					left: auto;
					text-align: right;
				}
				.pj__hr {
					float: right;
				}
			}
			.pj__visuel {
				width: 50%;
  				height: 322px;
				cursor: pointer;
				@include transition(width, 0.3s, ease-in-out);
				&:hover {
					width: 100%;
				}
			}
		}
	}
	.pj__info {
		position: absolute;
  		top: 6em;
		h3.pj__title {
			font-family: "Brandon Bold";
			font-size: 3em;
			color: #FBFBFB;
			margin-bottom: 0.3em;
		}
		h4.pj__subtitle {
			font-family: "Brandon Light Italic";
			font-size: 2em;
			color: #FBFBFB;
			margin-bottom: 0.4em;
		}
		.pj__hr {
			border: 2px solid #FBFBFB;
			width: 50px;
		}
	}
	.works__footer.footer.content {
  		padding-top: 6em;
	}
}

#contact.section {
	.inner {
		padding-top: 14.5em;
	}
	.contact__header {
		color: #3D3B3A;
		text-align: left;
		h3.title {
			font-family: "Bodoni Roman";
			font-size: 1.8em;
			margin-bottom: 1em;
		}
		p.paragraph {	
			font-family: "Bodoni Roman";
			font-size: 1.4em;
			line-height: 1.8em;
			margin-bottom: 1em;
		}
		span {
			font-family: "Bodoni Roman";
			color: #74706E;
			font-size: 1.4em;
			margin: 1em 0;
  			display: block;
		}
		p.subtitle {
			font-family: "Bodoni Bold";
			font-size: 1.4em;
			margin-bottom: 1em;
		}
	}
	.contact__content {
		margin-top: 3em;
		.cta {
			display: inline-block;
			font-family: "Brandon Regular";
			font-size: 1.2em;
			letter-spacing: 2px;
			border: 1px solid #3D3B3A;
			width: 13em;
			a {
				color: #3D3B3A;
				text-decoration: none;
				text-transform: uppercase;
				line-height: 3.2em;
				display: block;
				@include transition(all, 0.3s, ease-in-out);
				&:hover {
					background: #3D3B3A;
					color: #FBFBFB;
				}
			}
		}
		.socials {
			display: inline-block;
			padding-left: 4em;
			.social {
				display: inline-block;
				vertical-align: middle;
				width: 20px;
				height: 20px;
				margin: 0 15px;
			}
			.tw {
				background: url('#{$icons}/twitter.svg') no-repeat center center;
			}
			.lk {
				background: url('#{$icons}/linkedin.svg') no-repeat center center;
			}
			.db {
				background: url('#{$icons}/dribbble.svg') no-repeat center center;
			}
		}
	}
	.contact__footer {
		margin-top: 15em;
		.scroll-icon {
			bottom: 0px;
		  	line-height: 10.5em;
		  	background: url('#{$icons}/scroll-top.svg') no-repeat bottom center;
		}
	}
}

footer {
	padding: 6em 0 2em;
  	text-align: center;
	.copyright {
		font-family: "Brandon Regular";
		font-size: 0.9em;
		color: #9B9B9B;
		line-height: 12px;
		text-transform: uppercase;
		span {
			color: #838383;
		}
	}
}