/* CASE PROFILY.ME */
#logo-anim {
	  position: absolute;
	  top: 32%;
	  width: 100%;
	  height: 100%;
}
#disc {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 200px;
	-webkit-transform-origin: 50%;
	-webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:orbit;
    -webkit-animation-duration:15s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:orbit;
    -moz-animation-duration:15s;  
}	

@-webkit-keyframes orbit { 

0% { -webkit-transform:rotate(0deg) } 

3% { -webkit-transform:rotate(0deg) } 

92% {-webkit-transform:rotate(1440deg)}

100% {-webkit-transform:rotate(1440deg)}

}

@-moz-keyframes orbit { 

0% 		{ -moz-transform:rotate(0deg) } 

3% 		{ -moz-transform:rotate(0deg) } 

92% 	{-moz-transform:rotate(1440deg)}

100% 	{-moz-transform:rotate(1440deg)}

}


#bar {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 60px;
	margin-left: 53%;
	-webkit-transform-origin: top right;
	-webkit-animation-name: rotation;
	  -webkit-animation-duration: 15s;
	  -webkit-animation-iteration-count: infinite;
	  -webkit-animation-timing-function: ease-in-out;
	  -webkit-animation-fill-mode: none;
	
	
	 -moz-transform-origin: top right;
	  -moz-animation-name: rotation;
	  -moz-animation-duration: 15s;
	  -moz-animation-iteration-count: infinite;
	  -moz-animation-timing-function: ease-in-out;
	  -moz-animation-fill-mode: none;
	

  animation-name: rotation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: none;

}

@-webkit-keyframes rotation {

  0% {
 -webkit-transform:rotate(-10deg)
  }

  5% {
 -webkit-transform:rotate(5deg)
}
  90% {
 -webkit-transform:rotate(20deg)
  }

  97% {
 -webkit-transform:rotate(-12deg)
  }

  100% {
 -webkit-transform:rotate(-10deg)
  }
}

@-moz-keyframes rotation {

  0% {
 -moz-transform:rotate(-10deg)
  }

  15% {
 -moz-transform:rotate(5deg)
}
  70% {
 -moz-transform:rotate(20deg)
  }

  97% {
 -moz-transform:rotate(-12deg)
  }

  100% {
 -moz-transform:rotate(-10deg)
  }
}

.wk__uidetails {
	background: #F1F1F1;
	padding-bottom: 5em;
	p.pg {
		color: #878583;
	}
	.screens {
  		margin-top: 12em;
  		.screen {
			display: table-cell;
			.inner {
				margin-top: 2em;
				margin-bottom: 2.5em;
				.col-2of12 {
				  display: inline-block;
				  img {
				  	float: right;
				  }
				}
			}
			p.pg {
				text-align: center;
				color: #3D3B3A;
				margin-top: 0.6em;
				font-size: 1.5em;
				line-height: 1em;
			}
  		}
	}
}
.wk__stats.dyskit, .wk__stats.profily {
	.screens {
		.screen {
			display: inline-block;
		}
	}
}

.wk__stats.profily {
	background: #3D3B3A;
	.title h3 {
		color: #F5F5F5;
	}
	p.extra {
		color: #F5F5F5;
	}
	.screen:nth-of-type(even) {
	  padding-left: 8em;
	}
	
}
.wk__thinksocial {
	p.pg {
		color: #878583;
	}
	p.extra {
  		margin-top: 4em;
	}
}

.wk__iconographie {
	.screen .inner {
		text-align: center;
		div {
			display: inline-block;
  			margin: 3.5em;
  		}
	}
}

.search__friends {
	margin-top: 4em;
	padding-bottom: 8em;
	.inner {
		display: table-cell;
	}
	ul.friends {
		width: 263px;
		li {
			cursor: pointer;
			.avatar {
				display: inline-block;
				width: 50px;
				height: 50px;
				overflow: hidden;
				border-radius: 50%;
				img {
					width: 100%;
				}
			}
			.infos {
				display: inline-block;
				position: absolute;
				margin: 1.4em 0;
  				padding-left: 2em;
				.name {
					span {
						text-transform: uppercase;
					}
				}
				.playlists {

				}
			}
		}
	}
	ul.selected {
		li {
			p.name {
				display: inline-block;
				&:before {
					content: "";
					display: inline-block;
					background: #2ECC71;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					margin-right: 2.4em;
				}
				span {
					text-transform: uppercase;
				}
			}
			span.close {
				display: inline-block;
				cursor: pointer;
				width: 15px;
				height: 15px;
				background: url('#{$cases}/Profily/friends_close.svg') no-repeat center right;
				margin-left: 4em;
			}
		}
	}
}

.continent .map {
	display: inline-block;
	float: left;
	#card_line {
		position: absolute;
		z-index: 0;
		border: 1px solid #303030;
		&.pin1 {
			  width: 26em;
			  top: 10.5em;
			  left: 8em;
			  -webkit-transform: rotate(-4deg);
			  transform: rotate(-4deg);
		}
		&.pin2 {
			  width: 28em;
			  top: 13em;
			  left: 5.7em;
			  -webkit-transform: rotate(-18deg);
			  transform: rotate(-18deg);
		}
		&.pin3 {
			  width: 21em;
			  top: 12.8em;
			  left: 11.8em;
			  -webkit-transform: rotate(-22deg);
			  transform: rotate(-22deg);
		}
		&.pin4 {
			width: 14em;
  			top: 11.5em;
  			left: 19.7em;
  			-webkit-transform: rotate(-26deg);
  			transform: rotate(-26deg);
		}
		&.pin5 {
			  width: 19em;
			  top: 13.8em;
			  left: 15em;
			  -webkit-transform: rotate(-37deg);
			  transform: rotate(-37deg);
		}
	}
	  
	img.us {
		padding-top: 10px;
	}
	span.pin {
	  position: absolute;
	  cursor: pointer;
	  padding-top: 2.7em;
	  &.pin1 {
	  	  top: 9em;
	  	  left: 7.3em;
	  	  img {
	  	  	animation: pinBounce 1s linear infinite;
	  	  	animation-delay: 1s;
	  	  }
	  }
	  &.pin2 {
	  	  top: 15em;
	  	  left: 5.6em;
	  	  img {
	  	  	animation: pinBounce 1s linear infinite;
	  	  	animation-delay: 2.8s;
	  	  }
	  }
	  &.pin3 {
	  	  top: 14.4em;
	  	  left: 11.7em;
	  	  img {
	  	  	animation: pinBounce 1s linear infinite;
	  	  	animation-delay: 2.1s;
	  	  }
	  }
	  &.pin4 {
	  	  top: 12.2em;
	  	  left: 19.5em;
	  	  img {
	  	  	animation: pinBounce 1s linear infinite;
	  	  	animation-delay: 3.2s;
	  	  }
	  }
	  &.pin5 {
	  	  top: 17.2em;
	  	  left: 16em;
	  	  img {
	  	  	animation: pinBounce 1s linear infinite;
	  	  	animation-delay: 1.5s;
	  	  }
	  }
	  img {
	  	position: absolute;
	  	bottom: 0;
	  }
	}
}	

/* PINS MAP ANIMATION */

@keyframes pinBounce {
	0% {
		height: 26px;
	}
	10% {
		
	}
	20% {
		height: 24px;
	}
	30% {
		
	}
	50% {
		height: 26px;
	}
	100% {
		height: 26px;
	}
}

.continent .card {
	background: #303030;
	border-radius: 5px;
	width: 197px;
	height: 152px;
	position: relative;
	display: inline-block;
	margin-top: 1.2em;
  	margin-left: -0.6em;
  	padding-left: 1em;
	.number {
		position: absolute;
		background: #EE5355;
		border-radius: 5px;
		width: 42px;
		height: 42px;
		right: -8px;
		top: -8px;
		color: #fff;
	    font-size: 2em;
	    text-align: center;
	    line-height: 42px;
	}
	p.area, .country {
	  color: #fff;
	  font-size: 1.2em;
	  text-transform: uppercase;
	  padding-top: 1em;
	  margin-bottom: 1em;
	  display: inline-block;
	}
	ul li {
		color: #fff;
		font-size: 1.2em;
		line-height: 1.3em;
	}
}