#case-dyskit {
	background: url('#{$cases}/Dyskit/bg_case.jpg') no-repeat center center;
	background-size: cover;
}
#case-profily {
	background: url('#{$cases}/Profily/bg_case.jpg') no-repeat center center;
	background-size: cover;
}
.wk__intro {
	height: 100%;
	width: 100%;
	text-align: center;
	.project {
		height: 84%;
		.wk__title {
			padding-top: 33em;
			padding-bottom: 13em;
			position: relative;
			.name {
				font-family: "Brandon Bold";
				font-size: 9em;
				color: #FCFCFC;
				text-shadow: 0px 1px 2px rgba(0,0,0,0.20);
				text-transform: uppercase;
			}
			.type {
				font-family: "Brandon Light";
				font-size: 3em;
				color: #FCFCFC;
			}
		}
		.wk__infos {
			text-align: left;
			.inner {
				display: inline-block;
  				width: 22%;
  				padding-left: 10em;
			}
			.title {
				font-family: "Brandon Bold";
				font-size: 1.6em;
				color: #FCFCFC;
				text-transform: uppercase;
				margin-bottom: 0.7em;
			}
			.subtitle {
				font-family: "Bodoni Italic";
				font-size: 1.6em;
				color: #E6E6E6;
			}
		}
	}
	.team {
		background: white;
		height: 16%;
		h3 {
			font-family: "Brandon Bold";
			font-size: 1.6em;
			color: #615E5D;
			letter-spacing: 2px;
			text-transform: uppercase;
			padding: 1em 0;
		}
		p {
			font-family: "Bodoni Roman";
			font-size: 1.5em;
			color: #8F8F8F;
			line-height: 2em;
		}
		.bold {
			font-family: "Bodoni Bold";
			text-transform: uppercase;
		}
		.italic{
			font-family: "Bodoni Italic";
		}
	}
}


.line-reveal {
  width: 351px;
  height: 135px;
  overflow:hidden;
  position:absolute;
  left: 34%;
  top: 53%;
  transform-origin: 0 0;
  
  &.show {
    .overlay-top {
      animation: wipe 0.8s linear;
      animation-delay: 0.8s;
     /* animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/
    }
    .overlay-left {
      animation: wipeY 0.5s linear;
      animation-delay: 0.3s;
      /*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/
    }
    .overlay-right {
      animation: wipeY 0.5s linear;
      animation-delay: 1.6s;
      /*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/
    }
    .overlay-bottom-left {
      animation: wipe 0.3s linear;
      /*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/
    }
    .overlay-bottom-right {
      animation: wipe 0.3s linear;
      animation-delay: 2.1s;
      /*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/
    }
  }
  
  .overlay-bottom-left {
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 65px;
    transform-origin: 100% 0;
    background: white;
    transform: scaleX(0);
    &.active {
    	transform: scaleX(1);
    }
  }
  .overlay-bottom-right {
    height: 3px;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 65px;
    transform-origin: 100% 0;
    background: white;
    transform: scaleX(0);
    &.active {
    	transform: scaleX(1);
    }
  }

  .overlay-left {
    height: 135px;
    position: absolute;
    width: 3px;
    transform-origin: 0 100%;
    background: white;
    transform: scaleY(0);
    &.active {
    	transform: scaleY(1);
    }
  }

  .overlay-right {
    height: 135px;
    position: absolute;
    right:0;
    width: 3px;
    transform-origin: 0 0;
    background: white;
    transform: scaleY(0);
    &.active {
    	transform: scaleY(1);
    }
  }

  .overlay-top {
    height: 3px;
    position: absolute;
    width: 100%;
    transform-origin: 0 0;
    background: white;
    transform: scaleX(0);
    &.active {
    	transform: scaleX(1);
    }
  }
  
  .line {
    backface-visibility:hidden;
  }
}

@keyframes wipe {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

@keyframes wipeY {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}

/* WORK SECTIONS */
.wk__brief {
	img.devices {
		margin: 3.5em auto;
  		position: relative;
  		display: block;
	}
}

.wk__illustration {
  padding-top: 7em !important;
  height: 550px;
  margin-bottom: 4em;
  .visual {
  	height: 100%;
  	.inner {
  		height: 100%;
  		overflow: hidden;
  	}
  	img {
  		margin-top: -3em;
	}
  }
}
.wk__identity {
	img.ct {
	  position: relative;
	  margin: 8em 16em 6em;
	  width: 50%;
	}
}

.wk__votingprocess.wk__section {
  padding-top: 14em;
  .visual {
  	margin-top: 3em;
  	img {
  		padding-top: 3em;
	}
	.exp {
	  position: absolute;
	  top: 7em;
	  right: 40em;
	}
  }
}

.wk__section.wk__results{
	&.dyskit {
		height: 754px;
		background: linear-gradient(-180deg, #49403B 0%, #2E2722 100%);
	}
	&.profily {
		height: 754px;
		background: #2F2F2F;
	}
	.title h3 {
		color: #F5F5F5;
	}
	.slider {
  		margin-top: 7em;
  		.browser {
  			margin-top: 14em;
  			position: relative;
  			.bgScroll {
  				position: absolute;
  				background-size: 100%;
  				border-bottom: 1px solid black;
  				border-bottom-left-radius: 7px;
  				border-bottom-right-radius: 7px;
			  	width: 1060px;
			  	height: 579px;
			  	top: 6em;
			  	left: 0.9em;
			  	overflow: auto;
			  	img {
			  		width: 1060px;
			  	}
  			}
		}
  		.iphone {
  			margin-top: 14em;
  			overflow: hidden;
  			position: relative;
  			width: 217px;
  			.bgScroll {
  				position: absolute;
  				background-size: 100%;
  				height: 303px;
			  	width: 169px;
			  	top: 6em;
			  	left: 1.9em;
			  	overflow: hidden;
			  	img {
			  		width: 169px;
			  	}
  			}
		}
	}
}

.wk__section.wk__contact {
  margin-top: 19em;
  text-align: center;
  .title {
  	h3 {
		font-family: "Bodoni Italic";
		font-size: 3em;
		color: #666666;
		line-height: 49px;
  	}
  	h4 {
		font-family: "Bodoni Italic";
		font-size: 2em;
		color: #9E9E9E;
		line-height: 49px;
		margin-bottom: 3em;
  	}
  }
  .paragraph {
  	p {
		font-family: "Bodoni Italic";
		font-size: 1.3em;
		color: #666666;
		line-height: 49px;
  	}
  }
}

#next-project {
	height: 400px;
	margin-top: 10em;
	text-align: center;
	.title {
		padding: 13.5em 0 13em;
		p {
			font-family: "Brandon Regular";
			font-size: 1.2em;
			color: #FFFFFF;
			letter-spacing: 2px;
			line-height: 28px;
			margin-bottom: 1.3em;
			text-transform: uppercase;
		}
		.logo {
			margin: 0 auto;
		}
		span {
			opacity: 0.69;
			font-family: "Brandon Light";
			font-size: 2em;
			color: #FFFFFF;
			line-height: 29px;
		}
	}
	&.groww {
		background: linear-gradient(-180deg, #89C742 0%, #429321 100%);
		.logo {
			background: url('#{$cases}/Dyskit/logoGroww.png') no-repeat center center;
			width: 186px;
			height: 53px;
		}
	}
	&.dyskit {
		background: linear-gradient(-180deg, #49403B 0%, #2E2722 100%);
		.logo {
			background: url('#{$cases}/Profily/logoDyskit.png') no-repeat center center;
			background-size: 100%;
			width: 141px;
			height: 62px;
		}
	}
}

.visual{
	.inner {
		background: #F1F1F1;
		margin-left: -2em;
		text-align: center;
		position: relative;
		.exp {
			position: absolute;
  			p {
				font-family: "Bodoni Roman";
				font-size: 1.8em;
				color: #4A4A4A;
				line-height: 1.4em;
  			}
		}
	}
}

.screens {
	margin-top: 7em;
	.screen {
		display: inline-block;
		margin-bottom: 5em;
		&:nth-of-type(even) {
			padding-left: 4em;
		}
		.inner {
			position: relative;
			margin-top: 1em;
		}
		img {
			/*width: 100%;*/
		}
		/* LOADER VOTES */
		/* END LOADER VOTES */
	} 
}
.wk__section {
	padding-top: 9.5em;
	.title {
		margin-bottom: 4.9em;
		span {
			font-size: 4.5em;
			font-family: "Bodoni Bold";
			color: #BEB7B4;
		}
		h3 {
			font-size: 4.5em;
			font-family: "Bodoni Black";
			color: $a-black;
			display: inline-block;
		}
	}
	p.pg {
		font-family: "Bodoni Roman";
		color: #AAA7A6;
		font-size: 1.8em;
		line-height: 1.9em;
		margin-bottom: 0.2em;
	}
	p.extra {
		font-family: "Brandon Regular";
		color: #3D3B3A;
		font-size: 1.2em;
		text-transform: uppercase;
		text-align: center;
  		margin-top: 2em;
  		letter-spacing: 0.2em;
	}
	p.sub {
		font-family: "Bodoni Bold Italic";
		color: #878583;
		font-size: 2.4em;
		margin: 2em 0;
		padding-left: 1.2em;
	}
}

/* CASE DYSKIT */
ul.palette {
	margin-top: 3em;
	li {
		display: inline-block;
		figure {
			margin: 0;
			position: relative;
			cursor: pointer;
			img {
				max-width: 100%;
				display: block;
				position: relative;
			}
		}
		figcaption {
		  position: absolute;
		  top: 0;
		  left: 0;
		  height: 100%;
		  line-height: 16em;
		  width: 100%;
		  opacity: 0;
		  text-align: center;
		  -webkit-backface-visibility: hidden;
		  -moz-backface-visibility: hidden;
		  backface-visibility: hidden;
		  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
		  transition: transform 0.3s, opacity 0.3s;
		  span {
		  	font-family: "Brandon Regular";
		  	font-size: 2em;
			color: #E4E4E4;
			letter-spacing: 2px;
			line-height: 29px;
			&.bl {
				color: #3D3B3A;
			}
		  }
		}
	}
}
.no-touch figure:hover figcaption {
	opacity: 1;
}

div.mockup {
	margin-left: -16em;
}
.eye-grid {
	font-family: "Brandon Regular";
	font-size: 1em;
	color: #3D3B3A;
	letter-spacing: 1.66px;
	text-align: left;
	text-transform: uppercase;
	line-height: 4em;
	padding-left: 3em;
	cursor: pointer;
	display: block !important;
	background: url('#{$cases}/Dyskit/eye_closed.svg') no-repeat center left;
	&.hidden {
		background: url('#{$cases}/Dyskit/eye_opened.svg') no-repeat center left;
	}
}
figure.mockup-dyskit {
	position: relative;
	figcaption {
		position: absolute;
		top: 5.5em;
		img {
			position: relative;
			margin-left: 1em;
			opacity: 1;
			@include transition(opacity, 0.3s, ease-in-out);
			&.hidden {
				opacity: 0;
			}
		}
	}
}
/* CASE PROFILY.ME */
#logo-anim {
	  position: absolute;
	  top: 32%;
	  width: 100%;
	  height: 100%;
}
#disc {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 200px;
	-webkit-transform-origin: 50%;
	-webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:orbit;
    -webkit-animation-duration:15s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:orbit;
    -moz-animation-duration:15s;  
}	

@-webkit-keyframes orbit { 

0% { -webkit-transform:rotate(0deg) } 

3% { -webkit-transform:rotate(0deg) } 

92% {-webkit-transform:rotate(1440deg)}

100% {-webkit-transform:rotate(1440deg)}

}

@-moz-keyframes orbit { 

0% 		{ -moz-transform:rotate(0deg) } 

3% 		{ -moz-transform:rotate(0deg) } 

92% 	{-moz-transform:rotate(1440deg)}

100% 	{-moz-transform:rotate(1440deg)}

}


#bar {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 60px;
	margin-left: 53%;
	-webkit-transform-origin: top right;
	-webkit-animation-name: rotation;
	  -webkit-animation-duration: 15s;
	  -webkit-animation-iteration-count: infinite;
	  -webkit-animation-timing-function: ease-in-out;
	  -webkit-animation-fill-mode: none;
	
	
	 -moz-transform-origin: top right;
	  -moz-animation-name: rotation;
	  -moz-animation-duration: 15s;
	  -moz-animation-iteration-count: infinite;
	  -moz-animation-timing-function: ease-in-out;
	  -moz-animation-fill-mode: none;
	

  animation-name: rotation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: none;

}

@-webkit-keyframes rotation {

  0% {
 -webkit-transform:rotate(-10deg)
  }

  5% {
 -webkit-transform:rotate(5deg)
}
  90% {
 -webkit-transform:rotate(20deg)
  }

  97% {
 -webkit-transform:rotate(-12deg)
  }

  100% {
 -webkit-transform:rotate(-10deg)
  }
}

@-moz-keyframes rotation {

  0% {
 -moz-transform:rotate(-10deg)
  }

  15% {
 -moz-transform:rotate(5deg)
}
  70% {
 -moz-transform:rotate(20deg)
  }

  97% {
 -moz-transform:rotate(-12deg)
  }

  100% {
 -moz-transform:rotate(-10deg)
  }
}

.wk__uidetails {
	background: #F1F1F1;
	padding-bottom: 5em;
	p.pg {
		color: #878583;
	}
	.screens {
  		margin-top: 12em;
  		.screen {
			display: table-cell;
			.inner {
				margin-top: 2em;
				margin-bottom: 2.5em;
				.col-2of12 {
				  display: inline-block;
				  img {
				  	float: right;
				  }
				}
			}
			p.pg {
				text-align: center;
				color: #3D3B3A;
				margin-top: 0.6em;
				font-size: 1.5em;
				line-height: 1em;
			}
  		}
	}
}
.wk__stats.profily {
	background: #3D3B3A;
	.title h3 {
		color: #F5F5F5;
	}
	p.extra {
		color: #F5F5F5;
	}
	.screens {
		.screen {

		}
	}
}
.wk__thinksocial {
	p.pg {
		color: #878583;
	}
	p.extra {
  		margin-top: 4em;
	}
}

.search__friends {
	margin-top: 4em;
	padding-bottom: 8em;
	.inner {
		display: table-cell;
	}
	ul.friends {
		width: 263px;
		li {
			cursor: pointer;
			.avatar {
				display: inline-block;
				width: 50px;
				height: 50px;
				overflow: hidden;
				border-radius: 50%;
				img {
					width: 100%;
				}
			}
			.infos {
				display: inline-block;
				position: absolute;
				margin: 1.4em 0;
  				padding-left: 2em;
				.name {
					span {
						text-transform: uppercase;
					}
				}
				.playlists {

				}
			}
		}
	}
	ul.selected {
		li {
			p.name {
				display: inline-block;
				&:before {
					content: "";
					display: inline-block;
					background: #2ECC71;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					margin-right: 2.4em;
				}
				span {
					text-transform: uppercase;
				}
			}
			span.close {
				display: inline-block;
				cursor: pointer;
				width: 15px;
				height: 15px;
				background: url('#{$cases}/Profily/friends_close.svg') no-repeat center right;
				margin-left: 4em;
			}
		}
	}
}
/* CASE GROWW */
.wk__uxui {
	.screens {
		text-align: center;
		width: 100%;
  		overflow: hidden;
		.screen {
			width: 100%;
			img {
  				width: 100%;
  			}
		}
		.col-4of12 {
			  display: table-cell;
		}
	}
}

#slider-groww {
	height: 605px;
  	border-radius: 0;
  	width: 100%;
  	white-space: nowrap;
  	margin-top: 3em;
  	ul {
  		width: 130%;
   		height: 605px;
   		padding:0; margin:0;
   		list-style: none;
   		margin-left: -210px;
  	}
	.slide {
		display: inline-block;
		position: relative;
		width: 250px;
		height: 444px;
		margin-right: 2em;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
		cursor: pointer;
		@include transition(all, 0.3s, ease-in);
		&.bg:hover, &.bgbg:hover {
			transform: scale(1.05);
		}
		&.bg {
			opacity: 0.5;
		}
		&.bgbg {
			opacity: 0.3;
		}	
		&.fg {
			width: 340px;
			height: 605px;
			opacity: 1;
			margin-right: -3em;
  			margin-left: -6em;
  			z-index: 10;
  			margin-bottom: -8em;
		}
		&.spv1 {
			background-image: url('#{$cases}/Groww/spv1.png');
		}
		&.spv2 {
			background-image: url('#{$cases}/Groww/spv2.png');
		}
		&.spv3 {
			background-image: url('#{$cases}/Groww/spv3.png');
		}
		&.spv4 {
			background-image: url('#{$cases}/Groww/spv4.png');
		}
		&.spv5 {
			background-image: url('#{$cases}/Groww/spv5.png');
		}
		&.spv6 {
			background-image: url('#{$cases}/Groww/spv6.png');
		}
		&.spv7 {
			background-image: url('#{$cases}/Groww/spv7.png');
		}
	}
}
.bullets {
	.bullet {
		display: inline-block;
		border-radius: 50%;
		background: #D1D1D1;
		width: 12px;
		height: 12px;
		margin: 0 6px;
		position: relative;
		&.active {
			background: #3DBD70;
			&:before{
				content: "";
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background: none;
				border: 1px solid #3DBD70;
				display: block;
				position: absolute;
  				top: -3px;
  				left: -3px;
			}
		}
	}
}