/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

* {
  -webkit-font-smoothing: antialiased !important; }

@font-face {
  font-family: "Bodoni Black Cond";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Black Italic";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Black";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Bold Cond";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Bold Italic";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Bold";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Italic";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Roman";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Roman Old";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni Roman Oldstyle Figures-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni Roman Oldstyle Figures-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni Roman Oldstyle Figures-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni Roman Oldstyle Figures-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni Roman Oldstyle Figures-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Bold";
  src: url('../fonts/Brandon Grotesque/Brandon_bld-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_bld-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_bld-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_bld-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_bld-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Bold Italic";
  src: url('../fonts/Brandon Grotesque/Brandon_bld_it-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_bld_it-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_bld_it-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_bld_it-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_bld_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Black";
  src: url('../fonts/Brandon Grotesque/Brandon_blk-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_blk-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_blk-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_blk-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_blk-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Black Italic";
  src: url('../fonts/Brandon Grotesque/Brandon_blk_it-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_blk_it-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_blk_it-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_blk_it-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_blk_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Light";
  src: url('../fonts/Brandon Grotesque/Brandon_light-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_light-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_light-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_light-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_light-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Light Italic";
  src: url('../fonts/Brandon Grotesque/Brandon_light_it-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_light_it-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_light_it-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_light_it-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_light_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Medium";
  src: url('../fonts/Brandon Grotesque/Brandon_med-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_med-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_med-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_med-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_med-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Medium Italic";
  src: url('../fonts/Brandon Grotesque/Brandon_med_it-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_med_it-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_med_it-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_med_it-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_med_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Regular";
  src: url('../fonts/Brandon Grotesque/Brandon_reg-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_reg-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_reg-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_reg-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_reg-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Regular Italic";
  src: url('../fonts/Brandon Grotesque/Brandon_reg_it-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_reg_it-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_reg_it-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_reg_it-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_reg_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Thin";
  src: url('../fonts/Brandon Grotesque/Brandon_thin-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_thin-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_thin-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_thin-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_thin-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Thin Italic";
  src: url('../fonts/Brandon Grotesque/Brandon_thin_it-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_thin_it-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_thin_it-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_thin_it-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_thin_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Playfair Black";
  src: url('../fonts/Playfair/PlayfairDisplay-Black-webfont.eot');
  src: url('../fonts/Playfair/PlayfairDisplay-Black-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Playfair/PlayfairDisplay-Black-webfont.woff') format("woff"), url('../fonts/Playfair/PlayfairDisplay-Black-webfont.ttf') format("truetype"), url('../fonts/Playfair/PlayfairDisplay-Black-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Playfair Bold";
  src: url('../fonts/Playfair/PlayfairDisplay-Bold-webfont.eot');
  src: url('../fonts/Playfair/PlayfairDisplay-Bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Playfair/PlayfairDisplay-Bold-webfont.woff') format("woff"), url('../fonts/Playfair/PlayfairDisplay-Bold-webfont.ttf') format("truetype"), url('../fonts/Playfair/PlayfairDisplay-Bold-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Playfair Regular";
  src: url('../fonts/Playfair/PlayfairDisplay-Regular-webfont.eot');
  src: url('../fonts/Playfair/PlayfairDisplay-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Playfair/PlayfairDisplay-Regular-webfont.woff') format("woff"), url('../fonts/Playfair/PlayfairDisplay-Regular-webfont.ttf') format("truetype"), url('../fonts/Playfair/PlayfairDisplay-Regular-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

.grid-12 {
  width: 1080px;
  margin: 0 auto; }

.col-1of12, .col-2of12, .col-3of12, .col-4of12, .col-5of12, .col-6of12, .col-7of12, .col-8of12, .col-9of12, .col-10of12, .col-11of12, .col-12of12 {
  /*float: left;*/
  margin-left: 10px;
  margin-right: 10px;
  /*text-align: center;*/
  margin: 0 auto; }

.col-1of12 {
  width: 90px; }

.col-2of12 {
  width: 180px; }

.col-3of12 {
  width: 270px; }

.col-4of12 {
  width: 360px; }

.col-5of12 {
  width: 450px; }

.col-6of12 {
  width: 540px; }

.col-7of12 {
  width: 630px; }

.col-8of12 {
  width: 720px; }

.col-9of12 {
  width: 810px; }

.col-10of12 {
  width: 900px; }

.col-11of12 {
  width: 990px; }

.col-12of12 {
  width: 1080px; }

span.esp, span.esp.pf {
  font-family: PlayfairDisplay-Italic;
  font-size: 1em;
  color: #9B9B9B;
  letter-spacing: 0.185em;
  font-style: italic;
  margin: 0 0.2em; }
  span.esp.bold, span.esp.pf.bold {
    font-family: "Playfair Bold";
    font-style: italic; }

.cta {
  display: inline-block;
  font-family: "Brandon Regular";
  font-size: 1.2em;
  letter-spacing: 2px;
  border: 1px solid #3D3B3A;
  width: 13em;
  text-align: center; }
  .cta a {
    color: #3D3B3A;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 3.2em;
    display: block;
    transition: all 0.3s ease-in-out; }
    .cta a:hover {
      background: #3D3B3A;
      color: #FBFBFB; }

.scroll-div {
  position: relative;
  padding: 20px 0;
  height: 30px; }
  .scroll-div .scroll-icon {
    text-decoration: none;
    font-family: "Brandon Regular";
    font-size: 1em;
    color: #9B9B9B;
    letter-spacing: 0.166em;
    line-height: 1.5em;
    position: absolute;
    text-transform: uppercase;
    bottom: 20px;
    background: url('../images/icons/scroll-home.svg') no-repeat bottom center;
    display: block;
    width: 100%;
    padding-bottom: 15px;
    cursor: pointer; }

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border: 0px solid #333;
  background-color: transparent;
  z-index: 10000;
  transition: border 0.3s, background-color 0.3s, height 0s 0.3s; }
  .side-menu .side-overlay {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.3); }
  .side-menu div.hr {
    top: 42.5em;
    width: 50px;
    height: 4px;
    background: #fff;
    display: block;
    position: fixed;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }

.side-menu-trigger {
  position: fixed;
  top: 5em;
  left: 6em;
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer; }
  .side-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    margin-top: -2px;
    background-color: #000;
    font-size: 0px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: background-color 0.3s; }

.side-menu-trigger span:before, .side-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: '';
  margin: 8px 0;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.side-menu-trigger span:before {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%); }

.side-menu-trigger span:after {
  -webkit-transform: translateY(250%);
          transform: translateY(250%); }

.side-menu-open .side-menu-trigger span:before {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
  background: #fff; }

.side-menu-open .side-menu-trigger span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
  background: #fff; }

.side-menu ul {
  position: fixed;
  top: 12em;
  left: 0;
  margin: 0;
  padding: 0;
  padding-left: 6em;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .side-menu ul.social-menu {
    top: 44em; }

.side-menu ul li, .side-menu ul li a {
  display: block;
  width: 100%;
  text-align: left; }

.side-menu ul li {
  padding: 11px 0;
  opacity: 0;
  visibility: hidden;
  transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
  transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s; }
  .side-menu ul li a {
    display: block;
    outline: none;
    color: transparent;
    text-decoration: none;
    font-size: 0px; }
    .side-menu ul li a:before {
      color: #04a466;
      font-size: 48px;
      transition: color 0.2s; }

.social-menu li {
  padding: 0 !important; }

.side-menu ul.main-menu li a {
  font-family: "Brandon Medium";
  font-size: 4em;
  color: #FBFBFB;
  letter-spacing: 2.66px;
  line-height: 57px; }

.side-menu ul.social-menu li a {
  font-family: "Brandon Medium";
  font-size: 2.5em;
  color: #949494;
  letter-spacing: 2px;
  line-height: 36px; }
  .side-menu ul.social-menu li a.resume {
    font-family: "Brandon Medium";
    font-size: 2em;
    color: #696969;
    letter-spacing: 1.6px;
    line-height: 29px; }

/* main menu */
.side-menu ul.main-menu li:first-child {
  -webkit-transform: translate3d(-100%, 200%, 0);
          transform: translate3d(-100%, 200%, 0); }

.side-menu ul.main-menu li:nth-child(2) {
  -webkit-transform: translate3d(-100%, 100%, 0);
          transform: translate3d(-100%, 100%, 0); }

.side-menu ul.main-menu li:nth-child(3) {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0); }

.side-menu div.hr {
  -webkit-transform: translate3d(-100%, -200%, 0);
          transform: translate3d(-100%, -200%, 0); }

/* social menu */
.side-menu ul.social-menu li:first-child {
  -webkit-transform: translate3d(-100%, 200%, 0);
          transform: translate3d(-100%, 200%, 0); }

.side-menu ul.social-menu li:nth-child(2) {
  -webkit-transform: translate3d(-100%, 100%, 0);
          transform: translate3d(-100%, 100%, 0); }

.side-menu ul.social-menu li:nth-child(3) {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0); }

.side-menu ul.social-menu li:nth-child(4) {
  -webkit-transform: translate3d(-100%, -100%, 0);
          transform: translate3d(-100%, -100%, 0); }

.side-menu ul.social-menu li:nth-child(5) {
  -webkit-transform: translate3d(-100%, -200%, 0);
          transform: translate3d(-100%, -200%, 0);
  margin-top: 2em; }

.side-menu-open {
  height: 100%;
  border-width: 0 0 0 350px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: border-width 0.3s, background-color 0.3s; }
  .side-menu-open .side-overlay {
    height: 100%; }
  .side-menu-open .side-menu-trigger span {
    background-color: transparent; }
  .side-menu-open ul, .side-menu-open ul li, .side-menu-open div.hr {
    visibility: visible;
    opacity: 1;
    transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important; }
  .side-menu-open ~ section {
    margin-left: 350px; }
  .side-menu-open ~ body {
    overflow: hidden; }

.section {
  text-align: center; }
  .section .inner-container {
    height: 100%; }
  .section .footer {
    position: relative;
    height: 13%; }

#home.section {
  width: 100%;
  height: 100%; }
  #home.section .home__header {
    height: 45%; }
    #home.section .home__header .inner {
      padding: 15em 0 7em; }
    #home.section .home__header h2.title {
      font-family: "Brandon Regular";
      font-size: 1em;
      color: #9B9B9B;
      letter-spacing: 0.2em;
      line-height: 1.5em;
      text-transform: uppercase;
      margin-bottom: 2em; }
    #home.section .home__header h1.main__title {
      font-family: "Bodoni Bold";
      font-size: 4em;
      color: #3D3B3A;
      letter-spacing: 0.1em;
      line-height: 1em;
      margin-bottom: 0.2em; }
    #home.section .home__header h3.subtitle {
      font-family: "Bodoni Italic";
      font-size: 2em;
      color: #9B9B9B;
      letter-spacing: 0.185em;
      line-height: 2.7em; }
  #home.section .home__content {
    height: 35%; }
    #home.section .home__content .inner {
      padding: 4em 0; }
    #home.section .home__content p {
      font-family: "Brandon Regular";
      font-size: 1.5em;
      color: #3D3B3A;
      letter-spacing: 0.18em;
      line-height: 2.2em;
      text-transform: uppercase; }
    #home.section .home__content .line {
      display: block;
      margin: 0.5em auto;
      width: 1px;
      height: 60px;
      background: #9B9B9B; }

#works.section {
  background: #222222; }
  #works.section .inner {
    padding-top: 8em; }
  #works.section .works__header {
    margin-bottom: 10em; }
    #works.section .works__header h2.title {
      font-family: "Bodoni Bold Italic";
      font-size: 3em;
      color: #FCFCFC;
      line-height: 2.4em; }
    #works.section .works__header h3.subtitle {
      font-family: "Bodoni Roman";
      font-size: 1.8em;
      color: #D0D0D0;
      line-height: 1.5em; }
  #works.section .works__content #profily .pj__visuel {
    background: url('../images/cases/Profily/profily_cover.jpg') no-repeat center left; }
  #works.section .works__content #dyskit .pj__visuel {
    background: url('../images/cases/Dyskit/dyskit_cover.jpg') no-repeat center right; }
  #works.section .works__content #groww {
    margin-bottom: -1em; }
    #works.section .works__content #groww .pj__visuel {
      background: url('../images/cases/groww/groww_cover.jpg') no-repeat top right; }
  #works.section .works__content #keynotes .pj__visuel {
    background: url('../images/cases/keynotes/keynotes_cover.jpg') no-repeat top left; }
  #works.section .works__content .project {
    position: relative;
    height: 322px;
    margin-bottom: 6em; }
    #works.section .works__content .project.left .pj__visuel {
      float: left; }
    #works.section .works__content .project.left .pj__info {
      left: 42%;
      right: auto;
      text-align: left; }
    #works.section .works__content .project.left .pj__hr {
      float: left; }
    #works.section .works__content .project.right .pj__visuel {
      float: right; }
    #works.section .works__content .project.right .pj__info {
      right: 42%;
      left: auto;
      text-align: right; }
    #works.section .works__content .project.right .pj__hr {
      float: right; }
    #works.section .works__content .project .pj__visuel {
      width: 50%;
      height: 322px;
      cursor: pointer;
      -webkit-filter: grayscale(1);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: url(#greyscale);
      -webkit-filter: gray;
              filter: gray;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transition: all 0.3s ease-in-out; }
      #works.section .works__content .project .pj__visuel:hover {
        -webkit-filter: grayscale(0);
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: none;
        -webkit-filter: grayscale(0);
                filter: grayscale(0); }
  #works.section .pj__info {
    position: absolute;
    top: 6em; }
    #works.section .pj__info h3.pj__title {
      font-family: "Brandon Bold";
      font-size: 3em;
      color: #FBFBFB;
      margin-bottom: 0.3em; }
    #works.section .pj__info h4.pj__subtitle {
      font-family: "Brandon Light Italic";
      font-size: 2em;
      color: #FBFBFB;
      margin-bottom: 0.4em; }
    #works.section .pj__info .pj__hr {
      border: 2px solid #FBFBFB;
      width: 50px; }
  #works.section .works__footer.footer.content {
    padding-top: 6em; }

#contact.section .inner {
  padding-top: 14.5em; }
#contact.section .contact__header {
  color: #3D3B3A;
  text-align: left; }
  #contact.section .contact__header h3.title {
    font-family: "Bodoni Roman";
    font-size: 1.8em;
    margin-bottom: 1em; }
  #contact.section .contact__header p.paragraph {
    font-family: "Bodoni Roman";
    font-size: 1.4em;
    line-height: 1.8em;
    margin-bottom: 1em; }
  #contact.section .contact__header span {
    font-family: "Bodoni Roman";
    color: #74706E;
    font-size: 1.4em;
    margin: 1em 0;
    display: block; }
  #contact.section .contact__header p.subtitle {
    font-family: "Bodoni Bold";
    font-size: 1.4em;
    margin-bottom: 1em; }
#contact.section .contact__content {
  margin-top: 3em; }
  #contact.section .contact__content .socials {
    display: inline-block;
    padding-left: 4em; }
    #contact.section .contact__content .socials .social {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin: 0 15px; }
    #contact.section .contact__content .socials .tw {
      background: url('../images/icons/twitter.svg') no-repeat center center; }
    #contact.section .contact__content .socials .lk {
      background: url('../images/icons/linkedin.svg') no-repeat center center; }
    #contact.section .contact__content .socials .db {
      background: url('../images/icons/dribbble.svg') no-repeat center center; }
#contact.section .contact__footer {
  margin-top: 13em; }
  #contact.section .contact__footer .scroll-icon {
    bottom: 0px;
    padding-top: 20px;
    background: url('../images/icons/scroll-top.svg') no-repeat top center; }

footer {
  padding: 3em 0 2em;
  text-align: center; }
  footer .copyright {
    font-family: "Brandon Regular";
    font-size: 0.9em;
    color: #9B9B9B;
    line-height: 12px;
    text-transform: uppercase; }
    footer .copyright span {
      color: #838383; }

svg {
  display: none; }

#case-dyskit {
  background: url('../images/cases/Dyskit/bg_case.jpg') no-repeat center center;
  background-size: cover; }

#case-profily {
  background: url('../images/cases/Profily/bg_case.jpg') no-repeat center center;
  background-size: cover; }

#case-groww {
  background: url('../images/cases/Groww/bg_case.jpg') no-repeat center right;
  background-size: cover; }

#case-keynotes {
  background: url('../images/cases/Keynotes/bg_case.jpg') no-repeat center center;
  background-size: cover; }

.wk__intro {
  height: 100%;
  width: 100%;
  text-align: center; }
  .wk__intro .project {
    height: 84%; }
    .wk__intro .project .wk__title {
      padding-top: 33em;
      padding-bottom: 13em;
      position: relative; }
      .wk__intro .project .wk__title .name {
        font-family: "Brandon Bold";
        font-size: 9em;
        color: #FCFCFC;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        text-transform: uppercase; }
      .wk__intro .project .wk__title .type {
        font-family: "Brandon Light";
        font-size: 3em;
        color: #FCFCFC; }
    .wk__intro .project .wk__infos {
      text-align: left; }
      .wk__intro .project .wk__infos .inner {
        display: inline-block;
        width: 22%;
        padding-left: 10em; }
      .wk__intro .project .wk__infos .title {
        font-family: "Brandon Bold";
        font-size: 1.6em;
        color: #FCFCFC;
        text-transform: uppercase;
        margin-bottom: 0.7em; }
      .wk__intro .project .wk__infos .subtitle {
        font-family: "Bodoni Italic";
        font-size: 1.6em;
        color: #E6E6E6; }
  .wk__intro .team {
    background: white;
    height: 16%; }
    .wk__intro .team h3 {
      font-family: "Brandon Bold";
      font-size: 1.6em;
      color: #615E5D;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 1em 0; }
    .wk__intro .team p {
      font-family: "Bodoni Roman";
      font-size: 1.5em;
      color: #8F8F8F;
      line-height: 2em; }
    .wk__intro .team .bold {
      font-family: "Bodoni Bold";
      text-transform: uppercase; }
    .wk__intro .team .italic {
      font-family: "Bodoni Italic"; }

.line-reveal {
  width: 351px;
  height: 135px;
  overflow: hidden;
  position: absolute;
  left: 34%;
  top: 53%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0; }
  .line-reveal.show .overlay-top {
    -webkit-animation: wipe 0.8s linear;
            animation: wipe 0.8s linear;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    /* animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/ }
  .line-reveal.show .overlay-left {
    -webkit-animation: wipeY 0.5s linear;
            animation: wipeY 0.5s linear;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    /*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/ }
  .line-reveal.show .overlay-right {
    -webkit-animation: wipeY 0.5s linear;
            animation: wipeY 0.5s linear;
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
    /*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/ }
  .line-reveal.show .overlay-bottom-left {
    -webkit-animation: wipe 0.3s linear;
            animation: wipe 0.3s linear;
    /*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/ }
  .line-reveal.show .overlay-bottom-right {
    -webkit-animation: wipe 0.3s linear;
            animation: wipe 0.3s linear;
    -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s;
    /*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/ }
  .line-reveal .overlay-bottom-left {
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 65px;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    background: white;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
    .line-reveal .overlay-bottom-left.active {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
  .line-reveal .overlay-bottom-right {
    height: 3px;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 65px;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    background: white;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
    .line-reveal .overlay-bottom-right.active {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
  .line-reveal .overlay-left {
    height: 135px;
    position: absolute;
    width: 3px;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    background: white;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }
    .line-reveal .overlay-left.active {
      -webkit-transform: scaleY(1);
              transform: scaleY(1); }
  .line-reveal .overlay-right {
    height: 135px;
    position: absolute;
    right: 0;
    width: 3px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    background: white;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }
    .line-reveal .overlay-right.active {
      -webkit-transform: scaleY(1);
              transform: scaleY(1); }
  .line-reveal .overlay-top {
    height: 3px;
    position: absolute;
    width: 100%;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    background: white;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
    .line-reveal .overlay-top.active {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
  .line-reveal .line {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }

@-webkit-keyframes wipe {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }

  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@keyframes wipe {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }

  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@-webkit-keyframes wipeY {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }

  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes wipeY {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }

  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

/* WORK SECTIONS */
.wk__brief {
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1); }
  .wk__brief img.devices {
    padding: 3.5em 0;
    position: relative;
    display: block;
    margin: 0 auto; }

.wk__illustration {
  padding-top: 7em !important;
  height: 550px;
  margin-bottom: 4em; }
  .wk__illustration.groww .visual .inner {
    background: #45BD75; }
  .wk__illustration.mockups .visual {
    height: 550px;
    background: #F1F1F1; }
    .wk__illustration.mockups .visual img {
      margin-top: -3em; }

.wk__identity img.ct {
  position: relative;
  margin: 8em 16em 6em;
  width: 50%; }

.wk__votingprocess.wk__section {
  padding-top: 14em; }
  .wk__votingprocess.wk__section .visual {
    height: 569px;
    margin-top: 3em;
    background: #F1F1F1; }
    .wk__votingprocess.wk__section .visual img {
      padding-top: 3em; }
    .wk__votingprocess.wk__section .visual .exp {
      position: absolute;
      top: 7em;
      right: 40em; }

.wk__section.wk__results.dyskit {
  height: 754px;
  background: linear-gradient(-180deg, #49403B 0%, #2E2722 100%); }
.wk__section.wk__results.profily {
  height: 754px;
  background: #2F2F2F; }
.wk__section.wk__results.groww {
  height: 665px;
  background: #2A3F4C; }
.wk__section.wk__results .title h3 {
  color: #F5F5F5; }
.wk__section.wk__results .slider {
  margin-top: 7em; }
  .wk__section.wk__results .slider .browser {
    margin-top: 14em;
    position: relative; }
    .wk__section.wk__results .slider .browser .bgScroll {
      position: absolute;
      background-size: 100%;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      width: 1060px;
      height: 579px;
      top: 6em;
      left: 0.9em;
      overflow: auto; }
      .wk__section.wk__results .slider .browser .bgScroll img {
        width: 1060px; }
  .wk__section.wk__results .slider .iphone {
    margin-top: 19em;
    overflow: hidden;
    position: relative;
    width: 217px; }
    .wk__section.wk__results .slider .iphone .bgScroll {
      position: absolute;
      background-size: 100%;
      height: 303px;
      width: 169px;
      top: 6em;
      left: 1.9em;
      overflow: hidden; }
      .wk__section.wk__results .slider .iphone .bgScroll img {
        width: 169px; }

.wk__section.wk__contact {
  margin-top: 19em;
  text-align: center; }
  .wk__section.wk__contact .title h3 {
    font-family: "Bodoni Italic";
    font-size: 3em;
    color: #666666;
    line-height: 49px; }
  .wk__section.wk__contact .title h4 {
    font-family: "Bodoni Italic";
    font-size: 2em;
    color: #9E9E9E;
    line-height: 49px;
    margin-bottom: 3em; }
  .wk__section.wk__contact .paragraph p {
    font-family: "Bodoni Italic";
    font-size: 1.3em;
    color: #666666;
    line-height: 49px; }

#next-project {
  height: 400px;
  margin-top: 10em;
  text-align: center; }
  #next-project .title {
    padding: 9% 0 7%; }
    #next-project .title p {
      font-family: "Brandon Regular";
      font-size: 1.2em;
      color: #FFFFFF;
      letter-spacing: 2px;
      line-height: 28px;
      margin-bottom: 1.3em;
      text-transform: uppercase; }
    #next-project .title .logo {
      margin: 0 auto; }
    #next-project .title span {
      opacity: 0.69;
      font-family: "Brandon Light";
      font-size: 2em;
      color: #FFFFFF;
      line-height: 29px; }
  #next-project.groww {
    background: linear-gradient(-180deg, #89C742 0%, #429321 100%); }
    #next-project.groww .logo {
      background: url('../images/cases/Dyskit/logoGroww.png') no-repeat center center;
      width: 186px;
      height: 53px; }
  #next-project.dyskit {
    background: linear-gradient(-180deg, #49403B 0%, #2E2722 100%); }
    #next-project.dyskit .logo {
      background: url('../images/cases/Profily/logoDyskit.png') no-repeat center center;
      background-size: 100%;
      width: 141px;
      height: 62px; }
  #next-project.keynotes {
    background-image: linear-gradient(-180deg, #606C88 0%, #3F4C6B 100%); }
    #next-project.keynotes .logo {
      background: url('../images/cases/Groww/logoKeynotes.png') no-repeat center center;
      background-size: 100%;
      width: 97px;
      height: 97px; }
  #next-project.profily {
    background-image: linear-gradient(-180deg, #3D3B3A 0%, #2F2F2F 98%); }
    #next-project.profily .logo {
      background: url('../images/cases/Keynotes/logoProfily.png') no-repeat center center;
      background-size: 100%;
      width: 173px;
      height: 49px; }

.visual .inner {
  text-align: center;
  position: relative; }
  .visual .inner .exp {
    position: absolute; }
    .visual .inner .exp p {
      font-family: "Bodoni Roman";
      font-size: 1.8em;
      color: #4A4A4A;
      line-height: 1.4em; }

.screens {
  margin-top: 7em; }
  .screens .screen {
    /*display: inline-block;*/
    margin-bottom: 5em;
    /* LOADER VOTES */
    /* END LOADER VOTES */ }
    .screens .screen:nth-of-type(even) {
      padding-left: 4em; }
    .screens .screen .inner {
      position: relative;
      margin-top: 1em; }
    .screens .screen img {
      /*width: 100%;*/ }

section {
  transition: all 0.2s ease-in; }

.wk__section {
  padding-top: 9.5em;
  position: relative; }
  .wk__section .title {
    margin-bottom: 4.9em; }
    .wk__section .title > span {
      font-size: 4.5em;
      font-family: "Bodoni Bold";
      color: #BEB7B4; }
    .wk__section .title h3 {
      font-size: 4.5em;
      font-family: "Bodoni Black";
      color: #3D3B3A;
      display: inline-block; }
    .wk__section .title h2 {
      display: inline-block;
      font-size: 2.8em;
      font-family: "Bodoni Black"; }
  .wk__section p.pg {
    font-family: "Bodoni Roman";
    color: #AAA7A6;
    font-size: 1.8em;
    line-height: 1.9em;
    margin-bottom: 0.2em; }
  .wk__section p.extra {
    font-family: "Brandon Regular";
    color: #3D3B3A;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2em;
    letter-spacing: 0.2em; }
  .wk__section p.sub {
    font-family: "Bodoni Bold Italic";
    color: #878583;
    font-size: 2.4em;
    margin: 2em 0;
    padding-left: 1.2em; }

/* CASE DYSKIT */
ul.palette {
  margin-top: 3em; }
  ul.palette li {
    display: inline-block; }
    ul.palette li figure {
      margin: 0;
      position: relative;
      cursor: pointer; }
      ul.palette li figure img {
        max-width: 100%;
        display: block;
        position: relative; }
    ul.palette li figcaption {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      line-height: 16em;
      width: 100%;
      opacity: 0;
      text-align: center;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: -webkit-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s; }
      ul.palette li figcaption span {
        font-family: "Brandon Regular";
        font-size: 2em;
        color: #E4E4E4;
        letter-spacing: 2px;
        line-height: 29px; }
        ul.palette li figcaption span.bl {
          color: #3D3B3A; }

.no-touch figure:hover figcaption {
  opacity: 1; }

div.mockup {
  margin-left: -16em; }

.eye-grid {
  font-family: "Brandon Regular";
  font-size: 1em;
  color: #3D3B3A;
  letter-spacing: 1.66px;
  text-align: left;
  text-transform: uppercase;
  line-height: 4em;
  padding-left: 3em;
  cursor: pointer;
  display: block !important;
  background: url('../images/cases/Dyskit/eye_closed.svg') no-repeat center left; }
  .eye-grid.hidden {
    background: url('../images/cases/Dyskit/eye_opened.svg') no-repeat center left; }

figure.mockup-dyskit {
  position: relative; }
  figure.mockup-dyskit figcaption {
    position: absolute;
    top: 5.5em; }
    figure.mockup-dyskit figcaption img {
      position: relative;
      margin-left: 1em;
      opacity: 1;
      transition: opacity 0.3s ease-in-out; }
      figure.mockup-dyskit figcaption img.hidden {
        opacity: 0; }

/* CASE GROWW */
.wk__uxui .screens {
  text-align: center;
  width: 100%;
  overflow: hidden; }
  .wk__uxui .screens .screen img {
    width: 100%; }
  .wk__uxui .screens .col-4of12 {
    display: table-cell; }

#slider-groww {
  height: 605px;
  border-radius: 0;
  width: 100%;
  white-space: nowrap;
  margin-top: 3em; }
  #slider-groww ul {
    width: 130%;
    height: 605px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: -210px; }
  #slider-groww .slide {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 444px;
    margin-right: 2em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in; }
    #slider-groww .slide.bg:hover, #slider-groww .slide.bgbg:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    #slider-groww .slide.bg {
      opacity: 0.5; }
    #slider-groww .slide.bgbg {
      opacity: 0.3; }
    #slider-groww .slide.fg {
      width: 340px;
      height: 605px;
      opacity: 1;
      margin-right: -3em;
      margin-left: -6em;
      z-index: 10;
      margin-bottom: -8em; }
    #slider-groww .slide.spv1 {
      background-image: url('../images/cases/Groww/spv1.png'); }
    #slider-groww .slide.spv2 {
      background-image: url('../images/cases/Groww/spv2.png'); }
    #slider-groww .slide.spv3 {
      background-image: url('../images/cases/Groww/spv3.png'); }
    #slider-groww .slide.spv4 {
      background-image: url('../images/cases/Groww/spv4.png'); }
    #slider-groww .slide.spv5 {
      background-image: url('../images/cases/Groww/spv5.png'); }
    #slider-groww .slide.spv6 {
      background-image: url('../images/cases/Groww/spv6.png'); }
    #slider-groww .slide.spv7 {
      background-image: url('../images/cases/Groww/spv7.png'); }

.bullets .bullet {
  display: inline-block;
  border-radius: 50%;
  background: #D1D1D1;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  position: relative; }
  .bullets .bullet.active {
    background: #3DBD70; }
    .bullets .bullet.active:before {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: none;
      border: 1px solid #3DBD70;
      display: block;
      position: absolute;
      top: -3px;
      left: -3px; }

.frames {
  position: relative;
  height: 1200px;
  margin-top: 6em; }
  .frames p.extra {
    position: absolute;
    left: 38em; }
  .frames .frame {
    position: absolute; }
  .frames .frame1 {
    top: 1em; }
  .frames .frame2 {
    top: 14em;
    left: 36em; }
  .frames .frame3 {
    top: 49em; }
  .frames .frame4 {
    top: 54em;
    left: 54em; }
  .frames .frame5 {
    top: 83em; }

.notifcard {
  background: #F6F6F6;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 4em 0; }
  .notifcard .card {
    margin: 2em 0 4em;
    position: relative;
    width: 304px;
    height: 132px;
    background: #fff;
    border-top: 5px solid #D56891;
    border-radius: 2px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    padding: 12px; }
    .notifcard .card .card_title {
      font-family: "VAG Light";
      font-size: 2em;
      color: #686868;
      line-height: 24px; }
    .notifcard .card .card_date {
      font-family: "Roboto Light";
      font-size: 12.5px;
      color: #BFBFBF;
      line-height: 16px; }
    .notifcard .card .card_description {
      font-family: "Roboto Light";
      font-size: 1.3em;
      color: #787878;
      line-height: 17.5px; }
    .notifcard .card .card_pictos {
      position: absolute;
      top: 0;
      right: 0;
      padding: 12px; }
      .notifcard .card .card_pictos .picto {
        display: inline-block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: #CFCFD8;
        cursor: pointer;
        text-align: center; }
        .notifcard .card .card_pictos .picto.active {
          background: #D56891; }
    .notifcard .card .arrow {
      width: 7px;
      height: 15px;
      display: block;
      background: url('../images/cases/Groww/arrow_right.svg') no-repeat center right;
      float: right;
      cursor: pointer; }

/* CASE KEYNOTES */
.wk__section.intro {
  background: #FBFBFB; }

.wk__section.keynote {
  background: #F1F1F1; }
  .wk__section.keynote p.pg {
    color: #878583; }

.wk__section.redbull {
  background: #3B3C76; }
  .wk__section.redbull .title h3 {
    color: #F4ECE8; }
  .wk__section.redbull .title h2, .wk__section.redbull span {
    color: #F2ECE9; }
  .wk__section.redbull p.pg {
    color: #F5F0ED; }
  .wk__section.redbull p.extra {
    color: #BDB9B6; }
    .wk__section.redbull p.extra span {
      color: #E1DFDD; }
  .wk__section.redbull .cta {
    color: #BDB9B6;
    border: 1px solid #BDB9B6; }
    .wk__section.redbull .cta a {
      color: #BDB9B6;
      transition: all 0.3s ease-in-out; }
      .wk__section.redbull .cta a:hover {
        background: #BDB9B6;
        color: #3B3C76; }
  .wk__section.redbull .scroll-div .scroll-icon {
    color: #BDB9B6; }

.wk__section.lequipe {
  background: #E74A48; }
  .wk__section.lequipe .title h3 {
    color: #FFF4EF; }
  .wk__section.lequipe .title h2 {
    color: #EFE7E4; }
  .wk__section.lequipe p.pg {
    color: #F5F0EE; }
  .wk__section.lequipe p.extra {
    color: #E5DAD5; }
    .wk__section.lequipe p.extra span {
      color: #DAD6D4; }
  .wk__section.lequipe .cta {
    color: #E5DAD5;
    border: 1px solid #E5DAD5; }
    .wk__section.lequipe .cta a {
      color: #E5DAD5;
      transition: all 0.3s ease-in-out; }
      .wk__section.lequipe .cta a:hover {
        background: #E5DAD5;
        color: #E74A48; }
  .wk__section.lequipe .scroll-div .scroll-icon {
    color: #E5DAD5; }

.wk__section.fastrucks {
  background: #2D2C32; }
  .wk__section.fastrucks .title h3 {
    color: #FFF4EF; }
  .wk__section.fastrucks .title h2 {
    color: #EFE7E4; }
  .wk__section.fastrucks p.pg {
    color: #F5F0EE; }
  .wk__section.fastrucks p.extra {
    color: #E5DAD5; }
    .wk__section.fastrucks p.extra span {
      color: #DAD6D4; }
  .wk__section.fastrucks .cta {
    color: #E5DAD5;
    border: 1px solid #E5DAD5; }
    .wk__section.fastrucks .cta a {
      color: #E5DAD5;
      transition: all 0.3s ease-in-out; }
      .wk__section.fastrucks .cta a:hover {
        background: #E5DAD5;
        color: #2D2C32; }
  .wk__section.fastrucks .scroll-div .scroll-icon {
    color: #E5DAD5; }

.wk__section.gillsans {
  background: #F1F1F1; }
  .wk__section.gillsans .title h3 {
    color: #353535; }
  .wk__section.gillsans .title h2 {
    color: #B1B1B1; }
  .wk__section.gillsans p.pg {
    color: #7D7D7D; }
  .wk__section.gillsans p.extra {
    color: #3D3B3A; }
    .wk__section.gillsans p.extra span {
      color: #989390; }

.wk__section.kn__section {
  text-align: center; }
  .wk__section.kn__section .title, .wk__section.kn__section p.pg {
    text-align: left; }
  .wk__section.kn__section img {
    margin: 5em 0 -1em; }
  .wk__section.kn__section .cta {
    margin: 4em 0;
    width: 215px; }

/* CASE PROFILY.ME */
#logo-anim {
  position: absolute;
  top: 32%;
  width: 100%;
  height: 100%; }

#disc {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 200px;
  -webkit-transform-origin: 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-name: orbit;
  -moz-animation-duration: 15s; }

@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotate(0deg); }

  3% {
    -webkit-transform: rotate(0deg); }

  92% {
    -webkit-transform: rotate(1440deg); }

  100% {
    -webkit-transform: rotate(1440deg); } }

#bar {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 60px;
  margin-left: 53%;
  -webkit-transform-origin: top right;
  -webkit-animation-name: rotation;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: none;
  -moz-transform-origin: top right;
  -moz-animation-name: rotation;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: none;
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none; }

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(-10deg); }

  5% {
    -webkit-transform: rotate(5deg); }

  90% {
    -webkit-transform: rotate(20deg); }

  97% {
    -webkit-transform: rotate(-12deg); }

  100% {
    -webkit-transform: rotate(-10deg); } }

.wk__uidetails {
  background: #F1F1F1;
  padding-bottom: 5em; }
  .wk__uidetails p.pg {
    color: #878583; }
  .wk__uidetails .screens {
    margin-top: 12em; }
    .wk__uidetails .screens .screen {
      display: table-cell; }
      .wk__uidetails .screens .screen .inner {
        margin-top: 2em;
        margin-bottom: 2.5em; }
        .wk__uidetails .screens .screen .inner .col-2of12 {
          display: inline-block; }
          .wk__uidetails .screens .screen .inner .col-2of12 img {
            float: right; }
      .wk__uidetails .screens .screen p.pg {
        text-align: center;
        color: #3D3B3A;
        margin-top: 0.6em;
        font-size: 1.5em;
        line-height: 1em; }

.wk__stats.dyskit .screens .screen {
  display: inline-block; }

.wk__stats.profily {
  background: #3D3B3A; }
  .wk__stats.profily .title h3 {
    color: #F5F5F5; }
  .wk__stats.profily p.extra {
    color: #F5F5F5; }

.wk__thinksocial p.pg {
  color: #878583; }
.wk__thinksocial p.extra {
  margin-top: 4em; }

.wk__iconographie .screen .inner {
  text-align: center; }
  .wk__iconographie .screen .inner div {
    display: inline-block;
    margin: 3.5em; }

.search__friends {
  margin-top: 4em;
  padding-bottom: 8em; }
  .search__friends .inner {
    display: table-cell; }
  .search__friends ul.friends {
    width: 263px; }
    .search__friends ul.friends li {
      cursor: pointer; }
      .search__friends ul.friends li .avatar {
        display: inline-block;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%; }
        .search__friends ul.friends li .avatar img {
          width: 100%; }
      .search__friends ul.friends li .infos {
        display: inline-block;
        position: absolute;
        margin: 1.4em 0;
        padding-left: 2em; }
        .search__friends ul.friends li .infos .name span {
          text-transform: uppercase; }
  .search__friends ul.selected li p.name {
    display: inline-block; }
    .search__friends ul.selected li p.name:before {
      content: "";
      display: inline-block;
      background: #2ECC71;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin-right: 2.4em; }
    .search__friends ul.selected li p.name span {
      text-transform: uppercase; }
  .search__friends ul.selected li span.close {
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: url('../images/cases/Profily/friends_close.svg') no-repeat center right;
    margin-left: 4em; }

.continent .map {
  display: inline-block;
  float: left; }
  .continent .map #card_line {
    position: absolute;
    z-index: 0;
    border: 1px solid #303030; }
    .continent .map #card_line.pin1 {
      width: 26em;
      top: 10.5em;
      left: 8em;
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg); }
    .continent .map #card_line.pin2 {
      width: 28em;
      top: 13em;
      left: 5.7em;
      -webkit-transform: rotate(-18deg);
      transform: rotate(-18deg); }
    .continent .map #card_line.pin3 {
      width: 21em;
      top: 12.8em;
      left: 11.8em;
      -webkit-transform: rotate(-22deg);
      transform: rotate(-22deg); }
    .continent .map #card_line.pin4 {
      width: 14em;
      top: 11.5em;
      left: 19.7em;
      -webkit-transform: rotate(-26deg);
      transform: rotate(-26deg); }
    .continent .map #card_line.pin5 {
      width: 19em;
      top: 13.8em;
      left: 15em;
      -webkit-transform: rotate(-37deg);
      transform: rotate(-37deg); }
  .continent .map img.us {
    padding-top: 10px; }
  .continent .map span.pin {
    position: absolute;
    cursor: pointer; }
    .continent .map span.pin.pin1 {
      top: 9em;
      left: 7.3em; }
    .continent .map span.pin.pin2 {
      top: 15em;
      left: 5.6em; }
    .continent .map span.pin.pin3 {
      top: 14.4em;
      left: 11.7em; }
    .continent .map span.pin.pin4 {
      top: 12.2em;
      left: 19.5em; }
    .continent .map span.pin.pin5 {
      top: 17.2em;
      left: 16em; }

.continent .card {
  background: #303030;
  border-radius: 5px;
  width: 197px;
  height: 152px;
  position: relative;
  display: inline-block;
  margin-top: 1.2em;
  margin-left: -0.6em;
  padding-left: 1em; }
  .continent .card .number {
    position: absolute;
    background: #EE5355;
    border-radius: 5px;
    width: 42px;
    height: 42px;
    right: -8px;
    top: -8px;
    color: #fff;
    font-size: 2em;
    text-align: center;
    line-height: 42px; }
  .continent .card p.area, .continent .card .country {
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-top: 1em;
    margin-bottom: 1em;
    display: inline-block; }
  .continent .card ul li {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.3em; }
