/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

* {
  -webkit-font-smoothing: antialiased !important; }

@font-face {
  font-family: "Bodoni Black Cond";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Black Italic";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Black";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Bold Cond";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Bold Italic";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Bold";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Italic";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bodoni Roman";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.woff') format("woff"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.ttf') format("truetype"), url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Bold";
  src: url('../fonts/Brandon Grotesque/Brandon_bld-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_bld-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_bld-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_bld-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_bld-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Bold Italic";
  src: url('../fonts/Brandon Grotesque/Brandon_bld_it-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_bld_it-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_bld_it-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_bld_it-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_bld_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Black";
  src: url('../fonts/Brandon Grotesque/Brandon_blk-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_blk-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_blk-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_blk-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_blk-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Black Italic";
  src: url('../fonts/Brandon Grotesque/Brandon_blk_it-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_blk_it-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_blk_it-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_blk_it-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_blk_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Light";
  src: url('../fonts/Brandon Grotesque/Brandon_light-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_light-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_light-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_light-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_light-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Light Italic";
  src: url('../fonts/Brandon Grotesque/Brandon_light_it-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_light_it-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_light_it-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_light_it-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_light_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Medium";
  src: url('../fonts/Brandon Grotesque/Brandon_med-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_med-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_med-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_med-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_med-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Medium Italic";
  src: url('../fonts/Brandon Grotesque/Brandon_med_it-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_med_it-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_med_it-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_med_it-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_med_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Regular";
  src: url('../fonts/Brandon Grotesque/Brandon_reg-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_reg-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_reg-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_reg-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_reg-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Regular Italic";
  src: url('../fonts/Brandon Grotesque/Brandon_reg_it-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_reg_it-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_reg_it-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_reg_it-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_reg_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Thin";
  src: url('../fonts/Brandon Grotesque/Brandon_thin-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_thin-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_thin-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_thin-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_thin-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Thin Italic";
  src: url('../fonts/Brandon Grotesque/Brandon_thin_it-webfont.eot');
  src: url('../fonts/Brandon Grotesque/Brandon_thin_it-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Brandon Grotesque/Brandon_thin_it-webfont.woff') format("woff"), url('../fonts/Brandon Grotesque/Brandon_thin_it-webfont.ttf') format("truetype"), url('../fonts/Brandon Grotesque/Brandon_thin_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Playfair Black";
  src: url('../fonts/Playfair/PlayfairDisplay-Black-webfont.eot');
  src: url('../fonts/Playfair/PlayfairDisplay-Black-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Playfair/PlayfairDisplay-Black-webfont.woff') format("woff"), url('../fonts/Playfair/PlayfairDisplay-Black-webfont.ttf') format("truetype"), url('../fonts/Playfair/PlayfairDisplay-Black-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Playfair Bold";
  src: url('../fonts/Playfair/PlayfairDisplay-Bold-webfont.eot');
  src: url('../fonts/Playfair/PlayfairDisplay-Bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Playfair/PlayfairDisplay-Bold-webfont.woff') format("woff"), url('../fonts/Playfair/PlayfairDisplay-Bold-webfont.ttf') format("truetype"), url('../fonts/Playfair/PlayfairDisplay-Bold-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Playfair Regular";
  src: url('../fonts/Playfair/PlayfairDisplay-Regular-webfont.eot');
  src: url('../fonts/Playfair/PlayfairDisplay-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Playfair/PlayfairDisplay-Regular-webfont.woff') format("woff"), url('../fonts/Playfair/PlayfairDisplay-Regular-webfont.ttf') format("truetype"), url('../fonts/Playfair/PlayfairDisplay-Regular-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
  font-weight: normal;
  font-style: normal; }

.grid-12 {
  width: 1080px;
  margin: 0 auto; }

.col-1of12, .col-2of12, .col-3of12, .col-4of12, .col-5of12, .col-6of12, .col-7of12, .col-8of12, .col-9of12, .col-10of12, .col-11of12, .col-12of12 {
  /*float: left;*/
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin: 0 auto; }

.col-1of12 {
  width: 90px; }

.col-2of12 {
  width: 180px; }

.col-3of12 {
  width: 270px; }

.col-4of12 {
  width: 360px; }

.col-5of12 {
  width: 450px; }

.col-6of12 {
  width: 540px; }

.col-7of12 {
  width: 630px; }

.col-8of12 {
  width: 720px; }

.col-9of12 {
  width: 810px; }

.col-10of12 {
  width: 900px; }

.col-11of12 {
  width: 990px; }

.col-12of12 {
  width: 1080px; }

span.esp {
  font-family: PlayfairDisplay-Italic;
  font-size: 1em;
  color: #9B9B9B;
  letter-spacing: 0.185em;
  font-style: italic;
  margin: 0 0.2em; }

.section {
  text-align: center; }
  .section .inner-container {
    height: 100%; }
  .section .footer {
    position: relative;
    height: 20%; }
    .section .footer .scroll-icon {
      font-family: "Brandon Regular";
      font-size: 1em;
      color: #9B9B9B;
      letter-spacing: 0.166em;
      line-height: 1.5em;
      position: absolute;
      text-transform: uppercase;
      bottom: 20px;
      background: url('../images/icons/scroll-home.svg') no-repeat bottom center;
      display: block;
      width: 100%;
      height: 30px;
      margin: 20px 0;
      cursor: pointer; }

#home.section {
  width: 100%;
  height: 100%; }
  #home.section .home__header {
    height: 45%; }
    #home.section .home__header .inner {
      padding: 15em 0 7em; }
    #home.section .home__header h2.title {
      font-family: "Brandon Regular";
      font-size: 1em;
      color: #9B9B9B;
      letter-spacing: 0.2em;
      line-height: 1.5em;
      text-transform: uppercase;
      margin-bottom: 2em; }
    #home.section .home__header h1.main__title {
      font-family: "Bodoni Bold";
      font-size: 4em;
      color: #3D3B3A;
      letter-spacing: 0.1em;
      line-height: 1em;
      margin-bottom: 0.2em; }
    #home.section .home__header h3.subtitle {
      font-family: "Bodoni Italic";
      font-size: 2em;
      color: #9B9B9B;
      letter-spacing: 0.185em;
      line-height: 2.7em; }
  #home.section .home__content {
    height: 35%; }
    #home.section .home__content .inner {
      padding: 4em 0; }
    #home.section .home__content p {
      font-family: "Brandon Regular";
      font-size: 1.5em;
      color: #3D3B3A;
      letter-spacing: 0.18em;
      line-height: 2.2em;
      text-transform: uppercase; }
    #home.section .home__content .line {
      display: block;
      margin: 0.5em auto;
      width: 1px;
      height: 60px;
      background: #9B9B9B; }

#works.section {
  background: #222222; }
  #works.section .inner {
    padding-top: 8em; }
  #works.section .works__header {
    margin-bottom: 10em; }
    #works.section .works__header h2.title {
      font-family: "Bodoni Bold Italic";
      font-size: 3em;
      color: #FCFCFC;
      line-height: 2.4em; }
    #works.section .works__header h3.subtitle {
      font-family: "Bodoni Roman";
      font-size: 1.8em;
      color: #D0D0D0;
      line-height: 1.5em; }
  #works.section .works__content #profily .pj__visuel {
    background: url('../images/cases/Profily/profily_cover.jpg') no-repeat center left; }
  #works.section .works__content #dyskit .pj__visuel {
    background: url('../images/cases/Dyskit/dyskit_cover.jpg') no-repeat center right; }
  #works.section .works__content #groww {
    margin-bottom: -1em; }
    #works.section .works__content #groww .pj__visuel {
      background: url('../images/cases/groww/groww_cover.jpg') no-repeat top right; }
  #works.section .works__content #keynotes .pj__visuel {
    background: url('../images/cases/keynotes/keynotes_cover.jpg') no-repeat top left; }
  #works.section .works__content .project {
    position: relative;
    height: 322px;
    margin-bottom: 6em; }
    #works.section .works__content .project.left .pj__visuel {
      float: left; }
    #works.section .works__content .project.left .pj__info {
      left: 42%;
      right: auto;
      text-align: left; }
    #works.section .works__content .project.left .pj__hr {
      float: left; }
    #works.section .works__content .project.right .pj__visuel {
      float: right; }
    #works.section .works__content .project.right .pj__info {
      right: 42%;
      left: auto;
      text-align: right; }
    #works.section .works__content .project.right .pj__hr {
      float: right; }
    #works.section .works__content .project .pj__visuel {
      width: 50%;
      height: 322px;
      cursor: pointer;
      -webkit-filter: grayscale(1);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: url(#greyscale);
      -webkit-filter: gray;
              filter: gray;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transition: all 0.3s ease-in-out; }
      #works.section .works__content .project .pj__visuel:hover {
        -webkit-filter: grayscale(0);
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: none;
        -webkit-filter: grayscale(0);
                filter: grayscale(0); }
  #works.section .pj__info {
    position: absolute;
    top: 6em; }
    #works.section .pj__info h3.pj__title {
      font-family: "Brandon Bold";
      font-size: 3em;
      color: #FBFBFB;
      margin-bottom: 0.3em; }
    #works.section .pj__info h4.pj__subtitle {
      font-family: "Brandon Light Italic";
      font-size: 2em;
      color: #FBFBFB;
      margin-bottom: 0.4em; }
    #works.section .pj__info .pj__hr {
      border: 2px solid #FBFBFB;
      width: 50px; }
  #works.section .works__footer.footer.content {
    padding-top: 6em; }

#contact.section .inner {
  padding-top: 14.5em; }
#contact.section .contact__header {
  color: #3D3B3A;
  text-align: left; }
  #contact.section .contact__header h3.title {
    font-family: "Bodoni Roman";
    font-size: 1.8em;
    margin-bottom: 1em; }
  #contact.section .contact__header p.paragraph {
    font-family: "Bodoni Roman";
    font-size: 1.4em;
    line-height: 1.8em;
    margin-bottom: 1em; }
  #contact.section .contact__header span {
    font-family: "Bodoni Roman";
    color: #74706E;
    font-size: 1.4em;
    margin: 1em 0;
    display: block; }
  #contact.section .contact__header p.subtitle {
    font-family: "Bodoni Bold";
    font-size: 1.4em;
    margin-bottom: 1em; }
#contact.section .contact__content {
  margin-top: 3em; }
  #contact.section .contact__content .cta {
    display: inline-block;
    font-family: "Brandon Regular";
    font-size: 1.2em;
    letter-spacing: 2px;
    border: 1px solid #3D3B3A;
    width: 13em; }
    #contact.section .contact__content .cta a {
      color: #3D3B3A;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 3.2em;
      display: block;
      transition: all 0.3s ease-in-out; }
      #contact.section .contact__content .cta a:hover {
        background: #3D3B3A;
        color: #FBFBFB; }
  #contact.section .contact__content .socials {
    display: inline-block;
    padding-left: 4em; }
    #contact.section .contact__content .socials .social {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin: 0 15px; }
    #contact.section .contact__content .socials .tw {
      background: url('../images/icons/twitter.svg') no-repeat center center; }
    #contact.section .contact__content .socials .lk {
      background: url('../images/icons/linkedin.svg') no-repeat center center; }
    #contact.section .contact__content .socials .db {
      background: url('../images/icons/dribbble.svg') no-repeat center center; }
#contact.section .contact__footer {
  margin-top: 15em; }
  #contact.section .contact__footer .scroll-icon {
    bottom: 0px;
    line-height: 10.5em;
    background: url('../images/icons/scroll-top.svg') no-repeat bottom center; }

footer {
  padding: 6em 0 2em;
  text-align: center; }
  footer .copyright {
    font-family: "Brandon Regular";
    font-size: 0.9em;
    color: #9B9B9B;
    line-height: 12px;
    text-transform: uppercase; }
    footer .copyright span {
      color: #838383; }

svg {
  display: none; }

#case-dyskit {
  background: url('../images/cases/Dyskit/bg_case.jpg') no-repeat center center;
  background-size: cover; }

.wk__intro {
  height: 100%;
  width: 100%;
  text-align: center; }
  .wk__intro .project {
    height: 84%; }
    .wk__intro .project .wk__title {
      padding-top: 33em;
      padding-bottom: 13em;
      position: relative; }
      .wk__intro .project .wk__title .name {
        font-family: "Brandon Bold";
        font-size: 9em;
        color: #FCFCFC;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        text-transform: uppercase; }
      .wk__intro .project .wk__title .type {
        font-family: "Brandon Light";
        font-size: 3em;
        color: #FCFCFC; }
    .wk__intro .project .wk__infos {
      text-align: left; }
      .wk__intro .project .wk__infos .inner {
        display: inline-block;
        width: 22%;
        padding-left: 10em; }
      .wk__intro .project .wk__infos .title {
        font-family: "Brandon Bold";
        font-size: 1.6em;
        color: #FCFCFC;
        text-transform: uppercase;
        margin-bottom: 0.7em; }
      .wk__intro .project .wk__infos .subtitle {
        font-family: "Bodoni Italic";
        font-size: 1.6em;
        color: #E6E6E6; }
  .wk__intro .team {
    background: white;
    height: 16%; }
    .wk__intro .team h3 {
      font-family: "Brandon Bold";
      font-size: 1.6em;
      color: #615E5D;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 1em 0; }
    .wk__intro .team p {
      font-family: "Bodoni Roman";
      font-size: 1.5em;
      color: #8F8F8F;
      line-height: 2em; }
    .wk__intro .team .bold {
      font-family: "Bodoni Bold";
      text-transform: uppercase; }
    .wk__intro .team .italic {
      font-family: "Bodoni Italic"; }

.line-reveal {
  width: 351px;
  height: 135px;
  overflow: hidden;
  position: absolute;
  left: 34%;
  top: 53%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0; }
  .line-reveal.show .overlay-top {
    -webkit-animation: wipe 0.8s linear;
            animation: wipe 0.8s linear;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    /* animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/ }
  .line-reveal.show .overlay-left {
    -webkit-animation: wipeY 0.5s linear;
            animation: wipeY 0.5s linear;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    /*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/ }
  .line-reveal.show .overlay-right {
    -webkit-animation: wipeY 0.5s linear;
            animation: wipeY 0.5s linear;
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
    /*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/ }
  .line-reveal.show .overlay-bottom-left {
    -webkit-animation: wipe 0.3s linear;
            animation: wipe 0.3s linear;
    /*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/ }
  .line-reveal.show .overlay-bottom-right {
    -webkit-animation: wipe 0.3s linear;
            animation: wipe 0.3s linear;
    -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s;
    /*animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
      //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo*/ }
  .line-reveal .overlay-bottom-left {
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 65px;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    background: white;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
    .line-reveal .overlay-bottom-left.active {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
  .line-reveal .overlay-bottom-right {
    height: 3px;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 65px;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    background: white;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
    .line-reveal .overlay-bottom-right.active {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
  .line-reveal .overlay-left {
    height: 135px;
    position: absolute;
    width: 3px;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    background: white;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }
    .line-reveal .overlay-left.active {
      -webkit-transform: scaleY(1);
              transform: scaleY(1); }
  .line-reveal .overlay-right {
    height: 135px;
    position: absolute;
    right: 0;
    width: 3px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    background: white;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }
    .line-reveal .overlay-right.active {
      -webkit-transform: scaleY(1);
              transform: scaleY(1); }
  .line-reveal .overlay-top {
    height: 3px;
    position: absolute;
    width: 100%;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    background: white;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
    .line-reveal .overlay-top.active {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
  .line-reveal .line {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }

@-webkit-keyframes wipe {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }

  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@keyframes wipe {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }

  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@-webkit-keyframes wipeY {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }

  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes wipeY {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }

  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }
