@font-face {
  font-family: "Botoni Black Cond";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Cond-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Botoni Black Italic";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black Italic-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Botoni Black";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Black-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Botoni Bold Cond";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Cond-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Botoni Bold Italic";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold Italic-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Botoni Bold";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Bold-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Botoni Italic";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Italic-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Botoni Roman";
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Bauer Bodoni CE Roman-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Brandon Bold";
  src: url('../fonts/Bauer Bodoni/Brandon_bld-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Brandon_bld-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Brandon_bld-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Brandon_bld-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Brandon_bld-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Brandon Bold Italic";
  src: url('../fonts/Bauer Bodoni/Brandon_bld_it-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Brandon_bld_it-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Brandon_bld_it-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Brandon_bld_it-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Brandon_bld_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Brandon Black";
  src: url('../fonts/Bauer Bodoni/Brandon_blk-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Brandon_blk-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Brandon_blk-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Brandon_blk-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Brandon_blk-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Brandon Black Italic";
  src: url('../fonts/Bauer Bodoni/Brandon_blk_it-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Brandon_blk_it-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Brandon_blk_it-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Brandon_blk_it-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Brandon_blk_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Brandon Light";
  src: url('../fonts/Bauer Bodoni/Brandon_light-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Brandon_light-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Brandon_light-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Brandon_light-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Brandon_light-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Brandon Light Italic";
  src: url('../fonts/Bauer Bodoni/Brandon_light_it-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Brandon_light_it-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Brandon_light_it-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Brandon_light_it-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Brandon_light_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Brandon Medium";
  src: url('../fonts/Bauer Bodoni/Brandon_med-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Brandon_med-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Brandon_med-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Brandon_med-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Brandon_med-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Brandon Medium Italic";
  src: url('../fonts/Bauer Bodoni/Brandon_med_it-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Brandon_med_it-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Brandon_med_it-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Brandon_med_it-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Brandon_med_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Brandon Regular";
  src: url('../fonts/Bauer Bodoni/Brandon_reg-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Brandon_reg-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Brandon_reg-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Brandon_reg-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Brandon_reg-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Brandon Regular Italic";
  src: url('../fonts/Bauer Bodoni/Brandon_reg_it-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Brandon_reg_it-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Brandon_reg_it-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Brandon_reg_it-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Brandon_reg_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Brandon Thin";
  src: url('../fonts/Bauer Bodoni/Brandon_thin-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Brandon_thin-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Brandon_thin-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Brandon_thin-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Brandon_thin-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Brandon Thin Italic";
  src: url('../fonts/Bauer Bodoni/Brandon_thin_it-webfont.eot');
  src: url('../fonts/Bauer Bodoni/Brandon_thin_it-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/Brandon_thin_it-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/Brandon_thin_it-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/Brandon_thin_it-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Botoni Black";
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Black-webfont.eot');
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Black-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Black-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Black-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Black-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Botoni Bold";
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Bold-webfont.eot');
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Bold-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Bold-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Bold-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Bold-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }

@font-face {
  font-family: "Botoni Regular";
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Regular-webfont.eot');
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Regular-webfont.eot?#iefix') format("embedded-opentype");
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Regular-webfont.woff') format("woff");
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Regular-webfont.ttf') format("truetype");
  src: url('../fonts/Bauer Bodoni/PlayfairDisplay-Regular-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); }
